<h1>Home#indexs</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div class="one"></div>
<div class="two"></div>
<div class="three"></div>
<div class="four"></div>
<div class="five"></div>
<div class="six"></div>
<div class="seven"></div>

<% if current_user %>
  I AM LOGGED IN
<% else %>
  I AM NOT LOGGED IN
<% end %>